@font-face {
  font-family: "Norse-Bold";
  src: url(/Norse-Bold.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

form {
  margin-top: 4rem;
}

a {
  color: white;
}

.content {
  display: flex;
  min-height: 100vh;
}

/* Image section */

.image-section {
  background-image: url(/assets/images/background.jpg);
  background-position: center;
  background-size: cover;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: center;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.5rem;
  font-family: "Norse-Bold";
  margin-top: 20vh;
  padding: 16px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner img {
  height: 7.5rem;
}

.attribution {
  font-size: 0.8rem;
}

/* Text Section */

.text-section {
  flex: 3;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-section p:not(.error-message) {
  margin-bottom: 0px;
  margin-left: 48px;
  font-size: 1.6rem;
  width: 70%;
  font-weight: bold;
}

#create-account-btn {
  margin-left: 48px;
  margin-top: 32px;
  background-color: #596D48;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  padding: 12px 48px;
  border: none;
  font-size: 1.2rem;
  box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.input-section {
  background-color: white;
  color: black;
  padding-top: 6px;
  padding-left: 48px;
  padding-bottom: 16px;
  border: none;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.log-in a {
  color: #596D48;
  text-decoration: none;
  font-weight: bold;
}

p.log-in {
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 32px;
}

.input-section h3 {
  font-size: 1.6rem;
}

.form-inputs label {
  display: block;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2px;
}

.form-inputs input {
  border: 1px solid #E5E7EB;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 1rem;
  width: 18rem;
}

input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 72px;
  margin-bottom: 1rem;
  justify-content: start;
}

.error {
  border: 1px solid #C21807;
}

.error-message {
  margin-top: 0;
  font-size: 0.7rem;
  color: red;
}